$redColor : red;
$blueColor : blue;
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$font-50: 50px;
$font-normal: normal;
$font-bold: bold;


body{
	background: $blueColor;
	font: 100% $font-stack;
	color: $primary-color;
	font-size: $font-50;
	font-weight:$font-bold;
}

